body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 10px 5px 15px lightgray;
}
